<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Zombitron</title>
</head>

<body>
    <p>Démo interfaces</p>
    <ul>
        <li> <a href="/interface1">Interface 1</a></li>
        <li> <a href="/interface2">Interface 2</a></li>
    </ul>
    <p>For Iphones IOS < 13, install and activate the <a href="/certificate">Certificate</a></p>
</body>

</html>