<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innterface 1</title>
</head>

<body data-zombitron='{
    "acceleration": {
        "x": "/phone1/acceleration_x",
        "y": "/phone1/acceleration_y",
        "z": "/phone1/acceleration_z"
    } 
}'>

<div data-zombitron='{
    "XY": {
        "x1": "/phone1/x",
        "y1": "/phone1/y"
    }
}'>
</div>

    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
    <style>
        div {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgb(133, 253, 201);
        }
    </style>
</body>

</html>