<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Interface 2</title>
</head>

<body data-zombitron='{
        "name": "phone2",
        "acceleration": {
            "x": "/phone2/acceleration_x",
            "y": "/phone2/acceleration_y",
            "z": "/phone2/acceleration_z"
        },
        "orientation": {
            "alpha": "/phone2/alpha",
            "beta": "/phone2/beta",
            "gamma": "/phone2/gamma"
        }
    }'>
    <div id='XY' data-zombitron='{
        "type": "sliderxy",
        "x": "/phone2/x",
        "y": "/phone2/y",
        "cursor" : true
    }'>
    </div>
    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
    <style>
        #XY {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgb(253, 173, 173);
        }
    </style>
</body>

</html>