<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger</title>
</head>

<body id="container" data-zombitron='{"name": "musicplayer"}'>
    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>

    <script type="text/javascript">
        window.addEventListener('connection', function (event) {
            console.log("connection de " + event.detail);
        });
        window.addEventListener('disconnection', function (event) {
            console.log("deconnection de " + event.detail);
        });

        let pitchx = 0;
        window.addEventListener('/demo/x', function (event) {
            pitchx = parseFloat(event.detail) * 100 + 100;
            console.log(pitchx)
            window.musiccontroller.custominstr[0].triggerAttackRelease(pitchx, "8n");
        });

        let pitchy = 0;
        window.addEventListener('/demo/y', function (event) {
            pitchy = parseFloat(event.detail) * 200 + 100;
            window.musiccontroller.custominstr[1].triggerAttackRelease(pitchy, "8n");
            window.musiccontroller.custominstr[1].volume.value = -10
            console.log(event.detail)
        });

        let note = 250;
        window.addEventListener('touchVal', function (event) {
            console.log(event.type, event.detail);
            if (event.detail > 0) {
                window.musiccontroller.custominstr[1].triggerAttack(note, "8n");
            } else {
                window.musiccontroller.custominstr[1].triggerRelease()
            }
        });

        window.addEventListener('/demo/button1', function (event) {
            console.log(event.detail)
            if (event.detail == true) {
                window.musiccontroller.custominstr[4].start();
            }
            else {
                window.musiccontroller.custominstr[4].stop();
            }
        });

        window.addEventListener('/demo/button2', function (event) {
            console.log(event.type, event.detail);
            window.musiccontroller.custominstr[5].start();
        });

        let note2 = 250;
        window.addEventListener('/demo/slider1', function (event) {
            // window.musiccontroller.custominstr[7].triggerAttack(note2, "8n");
        });

        window.addEventListener('/demo/alpha', function (event) {
            note2 = (event.detail + 1) * 100 + 200;
            console.log(event.type, event.detail);
             window.musiccontroller.custominstr[7].triggerAttackRelease(note2, "8n");
        });

    </script>
    <style>
        body {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgb(133, 253, 201);
        }
    </style>
    <script type="module" src="/assets/js/app/main.js"></script>
</body>

</html>