<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger</title>
</head>

<body id="container" data-zombitron='{
        "name": "logger"}'>
    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
    <script type="text/javascript">
        window.addEventListener('connection', function (event) {
            console.log("connection de " + event.detail);
        });
        window.addEventListener('disconnection', function (event) {
            console.log("deconnection de " +event.detail);
        });
        let pitchx = 0;
        window.addEventListener('/demo/x', function (event) {
            pitchx = parseFloat(event.detail) * 100 + 100;
            console.log(pitchx)
           window.musiccontroller.custominstr[0].triggerAttackRelease(pitchx, "8n");
           
        });
        let pitchy = 0;

        window.addEventListener('funkySensorESP1', function (event) {
            pitchy = parseFloat(event.detail) * 100 + 100;
            window.musiccontroller.custominstr[1].triggerAttackRelease(pitchy, "8n");
        });
        
        window.addEventListener('/demo/button1', function (event) {
            window.musiccontroller.seqInstruments[0].instrument.start();
        });
        window.addEventListener('/demo/button2', function (event) {
            console.log(event.type, event.detail);
            window.musiccontroller.seqInstruments[1].instrument.start();
        });

        window.addEventListener('funkySensorESP1', function (event) {
            // window.musiccontroller.custominstr[4].start()
        });

        window.addEventListener('/demo/slider1', function (event) {
            
        });
        window.addEventListener('/demo/slider2', function (event) {
            console.log(event.type, event.detail);
        });
        window.addEventListener('/demo/slider11', function (event) {
            console.log(event.type, event.detail);
        });
    </script>
    <style>
        body {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgb(133, 253, 201);
        }
    </style>
    <script type="module" src="/assets/js/app/main.js"></script>
</body>

</html>